body {
  font-family: Arial;
  background: #111;
  color: white;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 20px;
  padding: 20px;
}

.movie-card {
  background: #1c1c1c;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px crimson;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}

button {
  margin-top: 8px;
  padding: 6px 10px;
  background: crimson;
  border: none;
  color: white;
  border-radius: 6px;
}